<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Talored Fit Advisory</h1>
            <hr>
            <p>
                At TFA, we enable services tailored fit to your business's needs. 
                Our team of financial and accounting experts offer the full range of business and personal services 
                that customised to your needs and requirements. 
    
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
