<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Talored Fit Advisory</h1>
            <hr>
            <p>
                At TFA, we enable buisinesses to estabish and grow without red tape.
                Our team of financial and accounting experts will let you focus on your core buisiness.
                We will take of the rest! 
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
