<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Tax and Accounting Services </h3>
                    <p class="text-muted">At TFA, we offer full range of tax and accounting services for various types of entities including 
                        start-ups.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Book Keeping Services</h3>
                    <p class="text-muted"> At TFA, we offer book keeping and BAS services!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Business Advisory Services </h3>
                    <p class="text-muted">AT TFA, we offer business advisory services including structures set up, tax planning.  
                        .</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Self Managed Superannuation</h3>
                    <p class="text-muted">AT TFA, we offer services for self managed superannuation !</p>
                </div>
            </div>
        </div>
    </div>
</section>
